<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>build_mortar_lvl3_attack_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 2}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 2}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 2}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 68}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 68}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 68}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 68}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 68}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 136}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_middle_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 136}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 136}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 136}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 136}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 204}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 204}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_attack_right_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 204}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_idle_1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 204}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_idle_2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 204}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_idle_3_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 270}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 270}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 270}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 270}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 270}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 338}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 338}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {86, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{86, 64}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 338}, {86, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 338}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl3_steer_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 338}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
        <key>textureFileName</key>
        <string>build_anim_mortar_lvl3_hd.png</string>
	</dict>
</dict>
</plist>