<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>build_mortar_lvl1_attack_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 2}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 2}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 2}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 2}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 2}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 2}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {61, 51}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{61, 51}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 2}, {61, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 7}, {61, 51}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 51}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 59}, {61, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 59}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 59}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_middle_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 59}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 59}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {61, 51}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{61, 51}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 59}, {61, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 7}, {61, 51}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 51}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 59}, {61, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 59}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 116}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_attack_right_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 116}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_idle_1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_idle_2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_idle_3_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 116}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 173}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 173}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 173}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 173}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 173}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl1_steer_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {61, 55}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{61, 55}</string>
			<key>spriteSourceSize</key>
			<string>{83, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 173}, {61, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
        <key>textureFileName</key>
        <string>build_anim_mortar_lvl1_hd.png</string>
	</dict>
</dict>
</plist>