<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>build_mortar_lvl4_attack_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 2}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 2}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 84}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 84}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_middle_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 84}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {108, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{108, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 84}, {108, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 84}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 84}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 84}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {108, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{108, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 84}, {108, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_attack_right_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {108, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{108, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 84}, {108, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_idle_1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 170}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_idle_2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 170}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_idle_3_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {108, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{108, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 170}, {108, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 170}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 170}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 170}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 170}, {108, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 170}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 170}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {108, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 256}, {108, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {108, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{108, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 256}, {108, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_mortar_lvl4_steer_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {108, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{108, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 256}, {108, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
        <key>textureFileName</key>
        <string>build_anim_mortar_lvl4_hd.png</string>
	</dict>
</dict>
</plist>