<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>build_basic_turret_lvl3_base_left1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 20}, {35, 39}}</string>
			<key>spriteOffset</key>
			<string>{2, 13}</string>
			<key>spriteSize</key>
			<string>{35, 39}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {35, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_basic_turret_lvl3_base_left2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 21}, {49, 35}}</string>
			<key>spriteOffset</key>
			<string>{-1, 14}</string>
			<key>spriteSize</key>
			<string>{49, 35}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 2}, {49, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_basic_turret_lvl3_base_left3_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 21}, {49, 29}}</string>
			<key>spriteOffset</key>
			<string>{-4, 17}</string>
			<key>spriteSize</key>
			<string>{49, 29}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 2}, {49, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_basic_turret_lvl3_base_left4_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 21}, {49, 31}}</string>
			<key>spriteOffset</key>
			<string>{-3, 16}</string>
			<key>spriteSize</key>
			<string>{49, 31}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 2}, {49, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_basic_turret_lvl3_base_left5_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 14}, {45, 39}}</string>
			<key>spriteOffset</key>
			<string>{-3, 19}</string>
			<key>spriteSize</key>
			<string>{45, 39}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2}, {45, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>build_basic_turret_lvl3_base_left6_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 11}, {35, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 20}</string>
			<key>spriteSize</key>
			<string>{35, 43}</string>
			<key>spriteSourceSize</key>
			<string>{103, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 43}, {35, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
        <key>textureFileName</key>
        <string>build_anim_basic_turret_lvl3_hd.png</string>
	</dict>
</dict>
</plist>