<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>character_worker_lv1_busy_1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 261}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{-7, 17}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 261}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 17}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 2}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{378, 260}, {32, 46}}</string>
			<key>spriteOffset</key>
			<string>{-6, 17}</string>
			<key>spriteSize</key>
			<string>{32, 46}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 2}, {32, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 261}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 17}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 2}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 261}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{-7, 17}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 2}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 261}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 17}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{378, 260}, {32, 46}}</string>
			<key>spriteOffset</key>
			<string>{-6, 17}</string>
			<key>spriteSize</key>
			<string>{32, 46}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 2}, {32, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 261}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 17}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 2}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_1_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 261}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{-7, 17}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 263}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 2}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 2}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 2}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 2}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 263}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 50}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 50}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 50}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 263}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 50}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_busy_2_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 263}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 50}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 265}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, 15}</string>
			<key>spriteSize</key>
			<string>{38, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 50}, {38, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{376, 265}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{-5, 15}</string>
			<key>spriteSize</key>
			<string>{38, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 50}, {38, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 265}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{36, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 50}, {36, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 264}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{-8, 14}</string>
			<key>spriteSize</key>
			<string>{34, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 50}, {34, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 265}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{36, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 50}, {36, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{374, 265}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{-8, 14}</string>
			<key>spriteSize</key>
			<string>{36, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 50}, {36, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 265}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{36, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 50}, {36, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{377, 264}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{-4, 15}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 96}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_left_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 265}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, 15}</string>
			<key>spriteSize</key>
			<string>{38, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 96}, {38, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{385, 264}, {38, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, 13}</string>
			<key>spriteSize</key>
			<string>{38, 46}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 96}, {38, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{385, 265}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 96}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{384, 264}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 96}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{382, 264}, {34, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 96}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 265}, {32, 40}}</string>
			<key>spriteOffset</key>
			<string>{-3, 15}</string>
			<key>spriteSize</key>
			<string>{32, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 96}, {32, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 265}, {34, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, 15}</string>
			<key>spriteSize</key>
			<string>{34, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 96}, {34, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{384, 265}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{34, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 96}, {34, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{386, 264}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 96}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_leftbottom_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{385, 264}, {38, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, 13}</string>
			<key>spriteSize</key>
			<string>{38, 46}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 96}, {38, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 264}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 14}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 96}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 264}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{-4, 14}</string>
			<key>spriteSize</key>
			<string>{34, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 96}, {34, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 264}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-4, 14}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 144}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{382, 264}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{-1, 15}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{36, 144}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{382, 264}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{-1, 15}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 144}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{381, 264}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{-2, 15}</string>
			<key>spriteSize</key>
			<string>{34, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 144}, {34, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 264}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-4, 14}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 144}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 264}, {30, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 14}</string>
			<key>spriteSize</key>
			<string>{30, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 144}, {30, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_worker_lv1_run_lefttop_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{379, 264}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 14}</string>
			<key>spriteSize</key>
			<string>{32, 44}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 144}, {32, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
        <key>textureFileName</key>
        <string>character_worker_lv1_hd.png</string>
	</dict>
</dict>
</plist>
