<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>character_woman_lv1_attack1_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{395, 264}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{38, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_left_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{395, 264}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 263}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 263}, {20, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 17}</string>
			<key>spriteSize</key>
			<string>{20, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 2}, {20, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 263}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 2}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 263}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 263}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, 17}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_leftbottom_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 263}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 265}, {14, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{14, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 44}, {14, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {16, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{16, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 44}, {16, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {16, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{16, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 44}, {16, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {16, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{16, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 44}, {16, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 44}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_attack1_lefttop_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 265}, {14, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 16}</string>
			<key>spriteSize</key>
			<string>{14, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 86}, {14, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {22, 36}}</string>
			<key>spriteOffset</key>
			<string>{2, 18}</string>
			<key>spriteSize</key>
			<string>{22, 36}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 86}, {22, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 17}</string>
			<key>spriteSize</key>
			<string>{24, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 86}, {24, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{386, 265}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{28, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 86}, {28, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {22, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{22, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 86}, {22, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {20, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{20, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 86}, {20, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{389, 264}, {20, 38}}</string>
			<key>spriteOffset</key>
			<string>{-1, 17}</string>
			<key>spriteSize</key>
			<string>{20, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 86}, {20, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{386, 265}, {26, 38}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{26, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 86}, {26, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {22, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{22, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 86}, {22, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_left_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 264}, {22, 36}}</string>
			<key>spriteOffset</key>
			<string>{2, 18}</string>
			<key>spriteSize</key>
			<string>{22, 36}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 86}, {22, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 262}, {18, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 19}</string>
			<key>spriteSize</key>
			<string>{18, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 126}, {18, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 264}, {18, 42}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{18, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 126}, {18, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{389, 264}, {22, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{22, 42}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 126}, {22, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{389, 263}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{24, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 126}, {24, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 263}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, 17}</string>
			<key>spriteSize</key>
			<string>{24, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 126}, {24, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {20, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{20, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 126}, {20, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{389, 264}, {22, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{22, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 126}, {22, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 263}, {18, 40}}</string>
			<key>spriteOffset</key>
			<string>{3, 17}</string>
			<key>spriteSize</key>
			<string>{18, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 126}, {18, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_leftbottom_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 262}, {18, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 19}</string>
			<key>spriteSize</key>
			<string>{18, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 126}, {18, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 17}</string>
			<key>spriteSize</key>
			<string>{24, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 126}, {24, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{391, 265}, {22, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{22, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 126}, {22, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{388, 265}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{24, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 170}, {24, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 265}, {16, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{16, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{28, 170}, {16, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{392, 264}, {16, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{16, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 170}, {16, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 265}, {14, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{14, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 170}, {14, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 265}, {20, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{20, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 170}, {20, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{388, 265}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{24, 40}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 170}, {24, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_woman_lv1_run_lefttop_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 264}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{2, 17}</string>
			<key>spriteSize</key>
			<string>{24, 38}</string>
			<key>spriteSourceSize</key>
			<string>{800, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 170}, {24, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
        <key>textureFileName</key>
        <string>character_woman_lv1_hd.png</string>
	</dict>
</dict>
</plist>