<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>character_bomberman_lv1_run_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 214}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{4, 14}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 2}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 214}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 2}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 2}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{4, 14}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 2}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 214}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 2}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 214}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 210}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 2}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 2}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 210}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 2}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 210}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 2}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 208}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 2}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 211}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 2}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 210}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 2}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 2}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 211}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 2}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 2}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 38}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 211}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 38}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 38}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_run_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 38}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 38}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 212}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 38}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_left_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 38}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 38}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 38}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 38}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 38}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 74}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 74}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 74}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 74}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_leftbottom_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 74}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_stand_lefttop_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 74}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 74}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 74}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 211}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 74}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 213}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 212}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{36, 110}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 213}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 110}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 212}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 110}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 213}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 110}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 213}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 110}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 214}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 11}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 110}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 213}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 110}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 110}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_left_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 212}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 110}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 110}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 110}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 110}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 110}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{306, 208}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 110}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 110}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{307, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 208}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 14}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 148}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_leftbottom_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 209}, {26, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{26, 34}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 148}, {26, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 148}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 148}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 214}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 148}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{311, 214}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 148}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{311, 214}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 148}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 214}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 148}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{311, 214}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 148}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 214}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 148}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 214}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 148}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 215}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 148}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 214}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{26, 30}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 186}, {26, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{310, 213}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 186}, {28, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>character_bomberman_lv1_win_lefttop_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 213}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{640, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 186}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
        <key>textureFileName</key>
        <string>character_bomberman_lv1_hd.png</string>
	</dict>
</dict>
</plist>
