<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>tower_effect_cannon_adv1_bomb_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{23, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 66}, {46, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -27}</string>
			<key>spriteSize</key>
			<string>{46, 40}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{27, 2}, {46, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 55}, {50, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, -24}</string>
			<key>spriteSize</key>
			<string>{50, 56}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 2}, {50, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 22}, {62, 94}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{62, 94}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 2}, {62, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {78, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{78, 106}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 2}, {78, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {82, 110}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{82, 110}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 2}, {82, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {84, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{84, 116}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 2}, {84, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 110}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{82, 110}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 120}, {82, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{82, 112}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 120}, {82, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 19}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 120}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {80, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 20}</string>
			<key>spriteSize</key>
			<string>{80, 76}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 120}, {80, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {74, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{74, 58}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 120}, {74, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tower_effect_cannon_adv1_bomb_explode_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {70, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 34}</string>
			<key>spriteSize</key>
			<string>{70, 48}</string>
			<key>spriteSourceSize</key>
			<string>{84, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 120}, {70, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
        <key>textureFileName</key>
        <string>tower_effect_cannon_adv1_hd.png</string>
	</dict>
</dict>
</plist>