<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>account_account.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 45}</string>
			<key>spriteSourceSize</key>
			<string>{89, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {89, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {621, 414}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{621, 414}</string>
			<key>spriteSourceSize</key>
			<string>{621, 414}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 2}, {621, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_nametextfield.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {263, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{263, 44}</string>
			<key>spriteSourceSize</key>
			<string>{263, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 2}, {263, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_ok.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 53}</string>
			<key>spriteSourceSize</key>
			<string>{174, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {174, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_password.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 45}</string>
			<key>spriteSourceSize</key>
			<string>{90, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 418}, {90, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_register.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 44}</string>
			<key>spriteSourceSize</key>
			<string>{90, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 418}, {90, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_registertextfield.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {223, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{223, 44}</string>
			<key>spriteSourceSize</key>
			<string>{223, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 418}, {223, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_setname.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{587, 418}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>account_sinalogin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 53}</string>
			<key>spriteSourceSize</key>
			<string>{174, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 418}, {174, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
        <key>textureFileName</key>
        <string>ui_account.png</string>
	</dict>
</dict>
</plist>