<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ui_info_bg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {750, 249}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{750, 249}</string>
			<key>spriteSourceSize</key>
			<string>{750, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {750, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_bg3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 213}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 213}</string>
			<key>spriteSourceSize</key>
			<string>{278, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 343}, {278, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_bg4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {408, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{408, 33}</string>
			<key>spriteSourceSize</key>
			<string>{408, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 343}, {408, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_bg5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {408, 249}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{408, 249}</string>
			<key>spriteSourceSize</key>
			<string>{408, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 760}, {408, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_bg6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {278, 478}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{278, 478}</string>
			<key>spriteSourceSize</key>
			<string>{278, 478}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{734, 280}, {278, 478}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_btn_g.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 82}</string>
			<key>spriteSourceSize</key>
			<string>{196, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 558}, {196, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_btn_gHui.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 82}</string>
			<key>spriteSourceSize</key>
			<string>{196, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 28}, {196, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_btn_p.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 82}</string>
			<key>spriteSourceSize</key>
			<string>{196, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 112}, {196, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_btn_pHui.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 82}</string>
			<key>spriteSourceSize</key>
			<string>{196, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 196}, {196, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 51}</string>
			<key>spriteSourceSize</key>
			<string>{58, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 28}, {58, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_g1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 42}</string>
			<key>spriteSourceSize</key>
			<string>{48, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 183}, {48, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_g2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 45}</string>
			<key>spriteSourceSize</key>
			<string>{45, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 699}, {45, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_hp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 47}</string>
			<key>spriteSourceSize</key>
			<string>{52, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 134}, {52, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_m.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 46}</string>
			<key>spriteSourceSize</key>
			<string>{43, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 699}, {43, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_p1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 55}</string>
			<key>spriteSourceSize</key>
			<string>{47, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 642}, {47, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_p2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{30, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 227}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_population.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 50}</string>
			<key>spriteSourceSize</key>
			<string>{33, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 227}, {33, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_icon_speed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 51}</string>
			<key>spriteSourceSize</key>
			<string>{54, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 81}, {54, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_tiao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {395, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{395, 20}</string>
			<key>spriteSourceSize</key>
			<string>{395, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 378}, {395, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_tiao2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 20}</string>
			<key>spriteSourceSize</key>
			<string>{135, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 642}, {135, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_tiao3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {732, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{732, 90}</string>
			<key>spriteSourceSize</key>
			<string>{732, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 251}, {732, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_tiao4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 26}</string>
			<key>spriteSourceSize</key>
			<string>{250, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 0}, {250, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_info_xian.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {354, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{354, 4}</string>
			<key>spriteSourceSize</key>
			<string>{354, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1011}, {354, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
        <key>textureFileName</key>
        <string>ui_info_hd.png</string>
	</dict>
</dict>
</plist>