<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ui_public_-.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 10}</string>
			<key>spriteSourceSize</key>
			<string>{16, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1001, 123}, {16, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 497}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 30}</string>
			<key>spriteSourceSize</key>
			<string>{10, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 650}, {10, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 30}</string>
			<key>spriteSourceSize</key>
			<string>{19, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1005, 242}, {19, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 30}</string>
			<key>spriteSourceSize</key>
			<string>{19, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 529}, {19, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 30}</string>
			<key>spriteSourceSize</key>
			<string>{22, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 343}, {22, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 433}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 375}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{998, 307}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{998, 275}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 30}</string>
			<key>spriteSourceSize</key>
			<string>{20, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 465}, {20, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 19}</string>
			<key>spriteSourceSize</key>
			<string>{84, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 729}, {84, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 15}</string>
			<key>spriteSourceSize</key>
			<string>{80, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 665}, {80, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 28}</string>
			<key>spriteSourceSize</key>
			<string>{207, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 635}, {207, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 31}</string>
			<key>spriteSourceSize</key>
			<string>{163, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 242}, {163, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 20}</string>
			<key>spriteSourceSize</key>
			<string>{199, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 685}, {199, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 20}</string>
			<key>spriteSourceSize</key>
			<string>{199, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 707}, {199, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 20}</string>
			<key>spriteSourceSize</key>
			<string>{199, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 663}, {199, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 28}</string>
			<key>spriteSourceSize</key>
			<string>{142, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 378}, {142, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 9}</string>
			<key>spriteSourceSize</key>
			<string>{67, 9}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 729}, {67, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_article9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 17}</string>
			<key>spriteSourceSize</key>
			<string>{75, 17}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 682}, {75, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {838, 633}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{838, 633}</string>
			<key>spriteSourceSize</key>
			<string>{838, 633}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {838, 633}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 101}</string>
			<key>spriteSourceSize</key>
			<string>{101, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343, 663}, {101, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 26}</string>
			<key>spriteSourceSize</key>
			<string>{111, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 782}, {111, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 145}</string>
			<key>spriteSourceSize</key>
			<string>{140, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 0}, {140, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 145}</string>
			<key>spriteSourceSize</key>
			<string>{140, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 555}, {140, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 665}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 145}</string>
			<key>spriteSourceSize</key>
			<string>{140, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 663}, {140, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 24}</string>
			<key>spriteSourceSize</key>
			<string>{137, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 663}, {137, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 145}</string>
			<key>spriteSourceSize</key>
			<string>{140, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 408}, {140, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 33}</string>
			<key>spriteSourceSize</key>
			<string>{150, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 343}, {150, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bg9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 51}</string>
			<key>spriteSourceSize</key>
			<string>{111, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 729}, {111, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bgL1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {594, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{594, 26}</string>
			<key>spriteSourceSize</key>
			<string>{594, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 635}, {594, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bgL2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {745, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{745, 38}</string>
			<key>spriteSourceSize</key>
			<string>{745, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 810}, {745, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_bgL3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{168, 26}</string>
			<key>spriteSourceSize</key>
			<string>{168, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 214}, {168, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_acceleration.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 66}</string>
			<key>spriteSourceSize</key>
			<string>{156, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 275}, {156, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 64}</string>
			<key>spriteSourceSize</key>
			<string>{118, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 689}, {118, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_closed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 62}</string>
			<key>spriteSourceSize</key>
			<string>{71, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 665}, {71, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_jinshop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 65}</string>
			<key>spriteSourceSize</key>
			<string>{174, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 147}, {174, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_minus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 37}</string>
			<key>spriteSourceSize</key>
			<string>{35, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 48}, {35, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_btn_ok.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 62}</string>
			<key>spriteSourceSize</key>
			<string>{71, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 701}, {71, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_d.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 30}</string>
			<key>spriteSourceSize</key>
			<string>{18, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 593}, {18, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_h.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 30}</string>
			<key>spriteSourceSize</key>
			<string>{18, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 561}, {18, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_experience.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 54}</string>
			<key>spriteSourceSize</key>
			<string>{51, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 752}, {51, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_gem.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 46}</string>
			<key>spriteSourceSize</key>
			<string>{36, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 0}, {36, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 46}</string>
			<key>spriteSourceSize</key>
			<string>{47, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 755}, {47, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_protection.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 47}</string>
			<key>spriteSourceSize</key>
			<string>{45, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 755}, {45, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_trophy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 49}</string>
			<key>spriteSourceSize</key>
			<string>{47, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 752}, {47, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_water.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 57}</string>
			<key>spriteSourceSize</key>
			<string>{48, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 750}, {48, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_icon_workers.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 55}</string>
			<key>spriteSourceSize</key>
			<string>{49, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 740}, {49, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_infoIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 34}</string>
			<key>spriteSourceSize</key>
			<string>{31, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 87}, {31, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_m.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 23}</string>
			<key>spriteSourceSize</key>
			<string>{28, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 408}, {28, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_s.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 24}</string>
			<key>spriteSourceSize</key>
			<string>{17, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 378}, {17, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_stars.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 19}</string>
			<key>spriteSourceSize</key>
			<string>{17, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 123}, {17, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_public_x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 23}</string>
			<key>spriteSourceSize</key>
			<string>{18, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 625}, {18, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
        <key>textureFileName</key>
        <string>ui_public_hd.png</string>
	</dict>
</dict>
</plist>