<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ui_inbattle_selectplayer.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 109}</string>
			<key>spriteSourceSize</key>
			<string>{177, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1072, 497}, {177, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_comeout.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 66}</string>
			<key>spriteSourceSize</key>
			<string>{156, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 1090}, {156, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_destory_fenshu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 115}</string>
			<key>spriteSourceSize</key>
			<string>{164, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 1165}, {164, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_finishgame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 66}</string>
			<key>spriteSourceSize</key>
			<string>{156, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{9, 1010}, {156, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_peopleline.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 62}</string>
			<key>spriteSourceSize</key>
			<string>{960, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1938}, {960, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_selectpeople.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 39}</string>
			<key>spriteSourceSize</key>
			<string>{91, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 952}, {91, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ingame_star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{27, 885}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_over_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, -1}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_over_line.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {476, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{476, 21}</string>
			<key>spriteSourceSize</key>
			<string>{476, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 2}, {476, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_over_lose.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 55}</string>
			<key>spriteSourceSize</key>
			<string>{150, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1442, 2}, {150, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_over_star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 142}</string>
			<key>spriteSourceSize</key>
			<string>{142, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1594, 2}, {142, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_over_win.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {226, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{226, 56}</string>
			<key>spriteSourceSize</key>
			<string>{226, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1738, 2}, {226, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_attack.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 65}</string>
			<key>spriteSourceSize</key>
			<string>{136, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 644}, {136, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_head.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 69}</string>
			<key>spriteSourceSize</key>
			<string>{62, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 644}, {62, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_lock_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 55}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 644}, {50, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_lock_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 55}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 644}, {50, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_map_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 644}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_map_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1286}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_map_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 1286}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1926, 1286}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pve_starbg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1960, 1286}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pvp_direction.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 56}</string>
			<key>spriteSourceSize</key>
			<string>{44, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{83, 881}, {44, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_pvp_find_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {523, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{523, 640}</string>
			<key>spriteSourceSize</key>
			<string>{523, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 639}, {523, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_close.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 62}</string>
			<key>spriteSourceSize</key>
			<string>{71, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1928}, {71, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_cup.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 62}</string>
			<key>spriteSourceSize</key>
			<string>{60, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 1928}, {60, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_cupline.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {233, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{233, 75}</string>
			<key>spriteSourceSize</key>
			<string>{233, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 1928}, {233, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_mofa.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 56}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 803}, {53, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_player.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 121}</string>
			<key>spriteSourceSize</key>
			<string>{213, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1063, 324}, {213, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_selectlevel.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 121}</string>
			<key>spriteSourceSize</key>
			<string>{213, 121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1062, 198}, {213, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_shield.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {399, 373}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{399, 373}</string>
			<key>spriteSourceSize</key>
			<string>{399, 373}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1295, 197}, {399, 373}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_starline.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {233, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{233, 70}</string>
			<key>spriteSourceSize</key>
			<string>{233, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 725}, {233, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_seek_union.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 56}</string>
			<key>spriteSourceSize</key>
			<string>{53, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 805}, {53, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
        <key>textureFileName</key>
        <string>ui_pvp_pve_hd.png</string>
	</dict>
</dict>
</plist>