<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ui_shop_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{960, 640}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {247, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{247, 199}</string>
			<key>spriteSourceSize</key>
			<string>{247, 199}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1219, 413}, {247, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 642}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 642}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 419}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 642}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1028, 638}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_box6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 642}, {255, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_dec.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 417}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 417}</string>
			<key>spriteSourceSize</key>
			<string>{255, 417}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 0}, {255, 417}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_dechui.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {251, 411}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{251, 411}</string>
			<key>spriteSourceSize</key>
			<string>{251, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1219, 0}, {251, 411}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_infobg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 35}</string>
			<key>spriteSourceSize</key>
			<string>{206, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 974}, {206, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_label.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{238, 63}</string>
			<key>spriteSourceSize</key>
			<string>{238, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1161, 951}, {238, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 89}</string>
			<key>spriteSourceSize</key>
			<string>{107, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1469, 610}, {107, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 92}</string>
			<key>spriteSourceSize</key>
			<string>{167, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1161, 857}, {167, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 128}</string>
			<key>spriteSourceSize</key>
			<string>{182, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 861}, {182, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {165, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{165, 135}</string>
			<key>spriteSourceSize</key>
			<string>{165, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 861}, {165, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 118}</string>
			<key>spriteSourceSize</key>
			<string>{148, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1011, 861}, {148, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 161}</string>
			<key>spriteSourceSize</key>
			<string>{144, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 861}, {144, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{159, 195}</string>
			<key>spriteSourceSize</key>
			<string>{159, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1468, 413}, {159, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 208}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 208}</string>
			<key>spriteSourceSize</key>
			<string>{182, 208}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1285, 614}, {182, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 108}</string>
			<key>spriteSourceSize</key>
			<string>{90, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1401, 910}, {90, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 107}</string>
			<key>spriteSourceSize</key>
			<string>{146, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 861}, {146, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 144}</string>
			<key>spriteSourceSize</key>
			<string>{148, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{861, 861}, {148, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_resources9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{124, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1330, 824}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_time.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 41}</string>
			<key>spriteSourceSize</key>
			<string>{38, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 974}, {38, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_shop_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {214, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{214, 111}</string>
			<key>spriteSourceSize</key>
			<string>{214, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 861}, {214, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
        <key>textureFileName</key>
        <string>ui_shop_hd.png</string>
	</dict>
</dict>
</plist>