<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ui_mail_battlereplay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 58}</string>
			<key>spriteSourceSize</key>
			<string>{138, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {138, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_dark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 54}</string>
			<key>spriteSourceSize</key>
			<string>{189, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 2}, {189, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_deep_revenge.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 58}</string>
			<key>spriteSourceSize</key>
			<string>{137, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{333, 2}, {137, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_demolitionsjournal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 44}</string>
			<key>spriteSourceSize</key>
			<string>{116, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 2}, {116, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_enemy_info.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{149, 83}</string>
			<key>spriteSourceSize</key>
			<string>{149, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 2}, {149, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_info_gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 33}</string>
			<key>spriteSourceSize</key>
			<string>{105, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{741, 2}, {105, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_journal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 43}</string>
			<key>spriteSourceSize</key>
			<string>{58, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 2}, {58, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_light.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 58}</string>
			<key>spriteSourceSize</key>
			<string>{189, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 87}, {189, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_lose.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 38}</string>
			<key>spriteSourceSize</key>
			<string>{97, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 87}, {97, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_normal_revenge.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 58}</string>
			<key>spriteSourceSize</key>
			<string>{106, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 87}, {106, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_refresh.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 62}</string>
			<key>spriteSourceSize</key>
			<string>{71, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 87}, {71, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_scollbar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {775, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{775, 241}</string>
			<key>spriteSourceSize</key>
			<string>{775, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 151}, {775, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_mail_win.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 38}</string>
			<key>spriteSourceSize</key>
			<string>{97, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{779, 151}, {97, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_accelerate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 66}</string>
			<key>spriteSourceSize</key>
			<string>{156, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 394}, {156, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_accelerate01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 24}</string>
			<key>spriteSourceSize</key>
			<string>{33, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 394}, {33, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_accelerate02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 24}</string>
			<key>spriteSourceSize</key>
			<string>{39, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 394}, {39, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_accelerate04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 24}</string>
			<key>spriteSourceSize</key>
			<string>{40, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 394}, {40, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_play.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 130}</string>
			<key>spriteSourceSize</key>
			<string>{114, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 394}, {114, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 45}</string>
			<key>spriteSourceSize</key>
			<string>{120, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 394}, {120, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_replay_titlereplay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 45}</string>
			<key>spriteSourceSize</key>
			<string>{115, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 394}, {115, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 394}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_degrade.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 57}</string>
			<key>spriteSourceSize</key>
			<string>{156, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{699, 394}, {156, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_down.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 28}</string>
			<key>spriteSourceSize</key>
			<string>{25, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{857, 394}, {25, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_equal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 17}</string>
			<key>spriteSourceSize</key>
			<string>{20, 17}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 394}, {20, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_kickedout.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 57}</string>
			<key>spriteSourceSize</key>
			<string>{156, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 526}, {156, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_levelblack.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 526}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_levellight.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 526}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_levelyellow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 526}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_line.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {775, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{775, 70}</string>
			<key>spriteSourceSize</key>
			<string>{775, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 585}, {775, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_lookover.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 57}</string>
			<key>spriteSourceSize</key>
			<string>{156, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{779, 585}, {156, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_lookunion.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 45}</string>
			<key>spriteSourceSize</key>
			<string>{116, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 657}, {116, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_menu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 322}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 322}</string>
			<key>spriteSourceSize</key>
			<string>{236, 322}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 657}, {236, 322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_menuicon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 29}</string>
			<key>spriteSourceSize</key>
			<string>{24, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 657}, {24, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 25}</string>
			<key>spriteSourceSize</key>
			<string>{19, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 657}, {19, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 25}</string>
			<key>spriteSourceSize</key>
			<string>{9, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 657}, {9, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 26}</string>
			<key>spriteSourceSize</key>
			<string>{17, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 657}, {17, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 25}</string>
			<key>spriteSourceSize</key>
			<string>{17, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{435, 657}, {17, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 26}</string>
			<key>spriteSourceSize</key>
			<string>{21, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 657}, {21, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 25}</string>
			<key>spriteSourceSize</key>
			<string>{19, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{477, 657}, {19, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 25}</string>
			<key>spriteSourceSize</key>
			<string>{19, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 657}, {19, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 26}</string>
			<key>spriteSourceSize</key>
			<string>{18, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{519, 657}, {18, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 25}</string>
			<key>spriteSourceSize</key>
			<string>{18, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 657}, {18, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 25}</string>
			<key>spriteSourceSize</key>
			<string>{18, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 657}, {18, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 25}</string>
			<key>spriteSourceSize</key>
			<string>{9, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 657}, {9, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 26}</string>
			<key>spriteSourceSize</key>
			<string>{18, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 657}, {18, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_num_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 25}</string>
			<key>spriteSourceSize</key>
			<string>{17, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 657}, {17, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_single.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 43}</string>
			<key>spriteSourceSize</key>
			<string>{59, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{629, 657}, {59, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_union.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 43}</string>
			<key>spriteSourceSize</key>
			<string>{59, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 657}, {59, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_up.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 28}</string>
			<key>spriteSourceSize</key>
			<string>{25, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{751, 657}, {25, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_union_upgrade.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 57}</string>
			<key>spriteSourceSize</key>
			<string>{156, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 657}, {156, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
        <key>textureFileName</key>
        <string>ui_union_mail_hd.png</string>
	</dict>
</dict>
</plist>